*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
}
.bm{
    width: 100%;
    height: 40px;
    display: none;
    color: white;
    text-align: center;
    position: relative;
    background-color: black;
}
/* забрати margin і width: 100%; */
.bma{
    text-decoration: none;
    color: white;
    background-color: rgb(15, 15, 15);
    display: block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #fff;
}
.bma:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
#check-menu{
    display: none;
}
.label-menu{
    display: block;
    background-color: rgb(15, 15, 15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}
.burger-line{
    position: absolute;
    width: 35px;
    height: 2px;
    top: 8px;
    right: 10px;
    background-color: #d1b099;
    transition: 0.5s;
    z-index: 10;
}
.secondd, .thirdd{
    top: 18px;
}
.fourthh{
    top: 28px;
}
.main-menu{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s;
}
#check-menu:checked ~ .firstt{
    display: none;
}
#check-menu:checked ~ .fourthh{
    display: none;
}
#check-menu:checked ~ .secondd{
    transform: rotate(45deg);
}
#check-menu:checked ~ .thirdd{
    transform: rotate(-45deg);
}
#check-menu:checked ~ .main-menu{
    max-height: 500px;
    font-size: 16px;
}
.header{
    width: 100%;
    background-image: url(../img/photo1.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
}
.main{
    background-color: #fafafa;
}
.landn{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.logotype{
    margin-left: 5%;
}
.logo{
    font-family: 'Playfair Display', serif;
    color: #d1b099;
    font-size: 32px;
}
.sublogo{
    font-family: sans-serif;
    color: white;
    font-size: 12px;
}
.navigation{
    width: 550px;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.punkt{
    list-style: none;
    text-transform: uppercase;
    margin: auto;
}
.linky{
    text-decoration: none;
    font-family: sans-serif;
    color: gray;
    font-size: 12px;
}
.linky:hover{
    color: white;
    border-bottom: 2px solid #f1cdb3;
    transition: 0.25s;
    border-radius: 10%;
}
.headcontent{
    padding-top: 140px;
    width: 400px;
    margin-left: 5%;
}
.maintitle{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 40px;
    width: 300px;
}
.maintext{
    color: #cdcdcd;
    margin: 30px 0 30px 0;
    width: 350px;
    font-family: sans-serif;
    font-size: 12px;
}
.button{
    background-color: #f1cdb3;
    width: 180px;
    height: 40px;
    border-radius: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    border: none;
}
.button:hover{
    background-color: #dab8a0;
    transition: 0.3s;
    cursor: pointer;
}
.firstsection{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.fsdiv{
    display: flex;
    align-items: center;
    margin: 50px 0 100px 0;
}
.fsphoto img{
    width: 300px;
}
.fstext{
    width: 420px;
    margin-left: 50px;
}
.fstitle{
    font-family: 'Playfair Display', serif;
    color: #545454;
    font-size: 40px;
    padding-bottom: 30px;
}
.fsp{
    font-family: sans-serif;
    color: #4C4C4C;
    font-size: 12px;
}
.fspan{
    padding-bottom: 30px;
    display: block;
}
.secondsection{
    display: flex;
    flex-direction: column;
}
.w33{
    width: 33%;
    display: flex;
    justify-content: center;
}
.sstext{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.ssphoto{
    display: flex;
    justify-content: center;
}
.sstitle{
    font-family: 'Playfair Display', serif;
    color: #545454;
    font-size: 40px;
    text-align: center;
}
.sscontent{
    width: 60%;
    transition: 1s;
}
.sscontent:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    transition: 1s;
}
.ssname{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #545454;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.ssbutton{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    width: 190px;
    height: 45px;
    border-radius: 30px;
    border: #f1cdb3 solid 2px;
    background-color: white;
    margin: auto;
}
.ssbutton:hover{
    background-color: #dab8a0;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}
.ssdiv{
    display: flex;
    justify-content: space-around;
}
.boxbutton{
    display: flex;
    justify-content: center;
    margin: 25px 0 25px 0;
}
.ssbbutton{
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}
.ssbb{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    width: 280px;
    height: 45px;
    border-radius: 30px;
    background-color: #f1cdb3;
    border: none;
}
.ssbb:hover{
    background-color: #dab8a0;
    transition: 0.3s;
    cursor: pointer;
}
.tstext{
    margin-bottom: 65px;
}
.first_tscontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.tsred{
    width: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.ts_red_title{
    font-family: sans-serif;
    color: #545454;
    font-size: 15px;
    margin-top: 15px;
}
.ts_red_mini{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ts_red_mini div{
    height: 65px;
}
.fourthsection{
    display: flex;
}
.fs_content{
    width: 50%;
}
.fs_text{
    margin: 0 0 50px 0;
}
.fs_img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fs_content_title{
    text-align: left;
}
.fs_content_subtitle{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #545454;
    margin: 0 0 20px 0;
}
.fs_title{
    margin: 30px 0 30px 0;
}
.fs_subtitle{
    margin: 0 0 20px 0;
}
.fs_content_button{
    font-family: sans-serif;
    width: 250px;
    height: 45px;
    border-radius: 10px;
    background-color: #f1cdb3;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 30px 0;
}
.fs_button{
    margin: 0 0 30px 0;
}
.fs_content_text{
    font-style: italic;
    color: gray;
    font-size: 13px;
    font-family: sans-serif;
}
.footer{
    background-image: url(../img/FooterBeckground.png);
    display: flex;
    justify-content: space-around;
}
.ff_div{
    width: 25%;
}
.ft_div{
    width: 300px;
    height: 317px;
}
.ff_div_blue{
    margin: 30px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
}
.ff_div_title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.ff_div_title_h2{
    color: white;
    font-size: 30px;
    text-align: left;
}
.ff_content_p{
    font-family: sans-serif;
    color: #F1CDB3;
    display: flex;
    align-items: center;
}
.ff_div_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.second_ff_div_blue{
    display: flex;
    justify-content: center;
    height: 37px;
}
.fs_div{
    width: 25%;
}
.ft_div{
    display: flex;
    align-items: flex-end;
}
.ft_div img{
    height: 285.3px;
    width: 270px;
}
@media (max-width: 1023px) and (min-width: 768px){
    .landn{
        display: none;
    }
    .bm{
        display: block;
        height: 60px;
    }
    .header{
        height: 500px;
    }
    .label-menu{
        line-height: 50px;
    }
    .burger-line{
        top: 14px;
    }
    .secondd, .thirdd{
        top: 24px;
    }
    .fourthh{
        top: 34px;
    }
    .fsphoto img{
        width: 80%;
    }
    .fstext{
        margin-left: 0;
    }
    .fsdiv{
        margin: 30px 0 30px 0;
    }
    .fourthsection{
        flex-direction: column-reverse;
        align-items: center;
    }
    .fs_content_title{
        text-align: center;
    }
    .fs_subtitle{
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .fs_button{
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .footer{
        margin-top: 30px;
    }
    .ft_div{
        display: none;
    }
    .ff_div, .fs_div{
        width: 40%;
    }
}
@media (max-width: 767px) and (min-width: 0px){
    .landn{
        display: none;
    }
    .headcontent{
        width: 95%;
    }
    .bm{
        display: block;
        height: 60px;
    }
    .header{
        height: 500px;
    }
    .label-menu{
        line-height: 50px;
    }
    .burger-line{
        top: 14px;
    }
    .secondd, .thirdd{
        top: 24px;
    }
    .fourthh{
        top: 34px;
    }
    .fsphoto img{
        width: 80%;
    }
    .tsred{
        width: 50%;
    }
    .fstext{
        margin-left: 0;
        width: 100%;
        padding: 5%;
    }
    .ssdiv{
        flex-direction: column-reverse;
        align-items: center;
    }
    .w33{
        width: 90%;
        margin: 10px 0 10px 0;
    }
    .fsdiv{
        margin: 30px 0 30px 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .fourthsection{
        flex-direction: column-reverse;
        align-items: center;
    }
    .fs_content{
        width: 90%;
    }
    .fs_img{
        width: 90%;
    }
    .fs_img img{
        width: 100%;
    }
    .fs_content_title{
        text-align: center;
    }
    .aboba{
        display: none;
    }
    .fs_subtitle{
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .fs_button{
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
    }
    .ft_div{
        display: block;
        height: auto;
    }
    .ff_div, .fs_div{
        width: 70%;
    }
}